#h1_titre {
  border-left: 5px solid white;
  padding-left: 2.5%;
}
.img_sec2 {
  transition: 1s;
}
.img_sec2:hover {
  transform: translateY(-3px);
  border-radius: 5% 20%;
}

/* Section 3  de l'accueil*/
