$h1-titre-border-color: white;
$h1-titre-padding-left: 2.5%;
$h1-titre-animation-duration: 3s;

html {
  scroll-behavior: smooth;
}

#h1_titre {
  border-left: 5px solid $h1-titre-border-color;
  padding-left: $h1-titre-padding-left;
  animation: titre-animation $h1-titre-animation-duration ease-in-out;
}

@keyframes titre-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

$img-sec2-box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
$img-sec2-transition-duration: 0.2s;

.img_sec2 {
  box-shadow: $img-sec2-box-shadow;
  transition: all $img-sec2-transition-duration;
}

/* Page des destinations*/

.underline-text {
  position: relative;
}

.underline-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;

  background-color: orange;
}
/* From Uiverse.io by adamgiebl */
.card {
  width: 190px;
  height: 254px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Préparatifs*/
$animated-title-text-transform: uppercase;
$animated-title-letter-spacing: 0.1em;

.animated-title {
  position: relative;
  display: inline-block;
  text-transform: $animated-title-text-transform;
  letter-spacing: $animated-title-letter-spacing;
}

.animated-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate-title 2s ease-in-out;
}

@keyframes animate-title {
  100% {
    transform: scaleX(0);
  }
  0% {
    transform: scaleX(1);
  }
}

.animated-title span {
  display: inline-block;
  animation: animate-letter 2s ease-in-out;
}

@keyframes animate-letter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// formulaire
#form-background {
  background-image: url("https://images.pexels.com/photos/6942988/pexels-photo-6942988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
}
.form_bg {
  background-color: transparent;
  backdrop-filter: blur(20px);
  border: 5px solid rgb(248, 243, 243);
}
