@charset "UTF-8";
#h1_titre {
  border-left: 5px solid white;
  padding-left: 2.5%;
  animation: titre-animation 3s ease-in-out;
}

@keyframes titre-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.img_sec2 {
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

/* Page des destinations*/
/* Préparatifs*/
.animated-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.animated-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate-title 2s ease-in-out;
}

@keyframes animate-title {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.animated-title span {
  display: inline-block;
  animation: animate-letter 2s ease-in-out;
}

@keyframes animate-letter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}